/* Estilos generales para el cuerpo del documento */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Logo ubicado en la esquina superior izquierda */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px; /* Ajusta el tamaño según sea necesario */
}

/* Contenedor principal que alinea los elementos horizontalmente */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Sección izquierda del diseño */
.left-section {
    width: 60%;
    padding: 40px;
}

/* Estilo del cuadro de texto donde el usuario ingresa información */
.left-section textarea {
    width: 100%;
    height: 150px;
    padding: 0; /* Elimina el padding */
    border: none; /* Elimina el borde */
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #555;
    margin-bottom: 40px;
    resize: none;
    background-color: transparent; /* Hace el fondo transparente */
    outline: none; /* Elimina el borde al enfocarse */
}

/* Estilo para el texto de advertencia */
.warning {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #4F4F4F;
    font-size: 14px;
}

.warning-icon {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

/* Contenedor de los botones en la sección izquierda */
.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* Espacio entre los botones */
}

/* Estilo general de los botones */
button {
    padding: 15px 40px;
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    font-size: 16px;
    font-weight: 600; /* Negrita para el texto */
    text-align: center;
    cursor: pointer;
}

/* Estilo para el botón de encriptar */
button:nth-child(1) {
    background-color: #0D3B66; /* Color de fondo azul oscuro */
    color: #fff; /* Texto en blanco */
    border: 2px solid #0D3B66; /* Borde con el mismo color del fondo */
}

/* Estilo para el botón de desencriptar */
button:nth-child(2) {
    background-color: #D3DAE3; /* Color de fondo gris claro */
    color: #0D3B66; /* Texto en color azul oscuro */
    border: 2px solid #0D3B66; /* Borde en color azul oscuro */
}

/* Efecto de hover para el botón de encriptar */
button:nth-child(1):hover {
    background-color: #083358; /* Color de fondo más oscuro en hover */
}

/* Efecto de hover para el botón de desencriptar */
button:nth-child(2):hover {
    background-color: #BCC4CE; /* Color de fondo más oscuro en hover */
}

/* Estilo específico para el botón de copiar */
#copyButton {
    padding: 15px 40px; /* Ajusta el tamaño para que coincida con los otros botones */
    border-radius: 20px; /* Bordes redondeados */
    font-size: 16px;
    font-weight: 600; /* Texto en negrita */
    text-align: center;
    cursor: pointer;
    background-color: transparent; /* Fondo transparente */
    color: #0D3B66; /* Color del texto */
    border: 2px solid #0D3B66; /* Borde con color azul oscuro */
    margin-left: 20px; /* Espacio entre el botón Desencriptar y Copiar */
}

/* Efecto de hover para el botón de copiar */
#copyButton:hover {
    background-color: #D3DAE3; /* Fondo gris claro al pasar el mouse */
    color: #0D3B66; /* Asegura que el texto siga siendo azul oscuro */
}

/* Sección derecha del diseño */
.right-section {
    width: 35%;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 20px; /* Reduce el padding superior e inferior */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    height: 100%; /* Asegura que la sección ocupe todo el alto disponible */
}

/* Estilo de la imagen en la sección derecha */
.right-section img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px; /* Margen inferior para separar la imagen del texto */
}

/* Estilo para el texto generado después de encriptar o desencriptar */
#outputText {
    font-weight: bold; /* Negrita */
    font-size: 22px; /* Tamaño de fuente más grande */
    color: #333; /* Color del texto */
}

/* Clase para ocultar elementos */
.hidden {
    display: none;
}

/* Estilo para el subtítulo principal (Ningún mensaje fue encontrado) */
.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* Estilo para el subtítulo secundario (Ingresa el texto que desees encriptar o desencriptar.) */
.subtitle-secondary {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

/* Estilos para el rodapié */
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Query para Tablets */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-section, .right-section {
        width: 90%;
        padding: 20px;
    }

    .left-section textarea {
        height: 120px;
    }

    button {
        padding: 12px 30px;
        font-size: 16px;
    }

    .right-section img {
        display: none;
    }
}

/* Media Query para Móviles */
@media (max-width: 480px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-section, .right-section {
        width: 100%;
        padding: 10px;
    }

    .left-section textarea {
        height: 100px;
    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .right-section img {
        display: none;
    }
}
